{% extends "slcsd_cms/base.html" %}

{% block page_title %}Sites{% endblock %}

{% block h1 %}<i class="icon-earth"></i> Sites{% endblock %}

{% block content %}
<div id="list_sites" class="card">
  {% verbatim %}
  <section class="card-body">
    <div v-if="loaded && records.length > 0" class="mb-3">
      <div class="input-group mb-3">
        <div class="form-group-feedback form-group-feedback-left">
          <input type="text" v-model="search" class="form-control form-control-lg alpha-grey" placeholder="Search Sites">
          <div class="form-control-feedback form-control-feedback-lg">
            <i class="icon-search4 text-muted"></i>
          </div>
        </div>
      </div>
      <div class="table-actions mb-1">
        <button v-on:click="clearSiteForm" data-toggle="modal" data-target="#add_site" class="btn btn-light"><i class="icon-plus22 mr-2"> </i>Add Site</button>
      </div>
      <div class="table-responsive mb-3">
        <table class="table table-striped mb-3">
          <thead class="bg-slate-300">
            <tr>
              <th style="width: 1px;"><span class="sr-only">Select</span></th>
              <th>Name</th>
              <th>Description</th>
              <th>Updated</th>
              <th style="width: 1px;" class="text-center">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="record in pagedRecords" v-bind:data-user-pk="record.pk">
              <td class="pr-0">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" v-bind:id="record.pk + '_select'">
                  <label class="custom-control-label" v-bind:for="record.pk + '_select'">&nbsp;<span class="sr-only">Select {{record.email}}</span></label>
                </div>
              </td>
              <td><a v-bind:href="record.admin_url">{{ record.title }}</a></td>
              <td>{{ record.description }}</td>
              <td>{{ record.update_date }}</td>
              <td class="pl-0 pr-0 text-center">
                <button type="button" class="btn btn-link btn-icon" data-toggle="dropdown"><i class="icon-more"></i></button>
                <div class="dropdown-menu dropdown-menu-right">
                  <button v-on:click="deleteSite(record)" class="dropdown-item"><i class="icon-trash"></i> Delete</button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="d-flex mb-3">
        <div class="mt-auto ml-auto mr-3">Results: {{ recordRangeMin }}-{{ recordRangeMax }} of {{ numberOfRecords }}</div>
        <ul v-if="numberOfRecords > 50" class="pagination align-self-center">
          <li class="page-item"><button v-on:click="prevPage" class="page-link">Prev</button></li>
          <li class="page-item"><button v-on:click="nextPage" class="page-link">Next</button></li>
        </ul>
      </div>
    </div>
    <div v-else-if="loaded" class="alert alert-warning alert-styled-left">
      <span class="font-weight-semibold">Oops:</span> There are not currently any sites created. Click here to <a href="#" class="alert-link text-primary" data-toggle="modal" data-target="#add_site">Add a Site</a>
    </div>
  </section>
  <div id="add_site" class="modal fade" tabindex="-1" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header bg-grey">
          <h2 class="modal-title">Add Site</h2>
          <button v-on:click="clearSiteForm" type="button" class="close" data-dismiss="modal">×</button>
        </div>

        <div class="modal-body">
          <div class="form-group">
            <label class="">Title</label>
            <input v-model="siteForm.title" type="email" class="form-control">
          </div>
          <div class="form-group">
            <label class="">Description</label>
            <textarea v-model="siteForm.description" type="" class="form-control"></textarea>
          </div>
        </div>

        <div class="modal-footer">
          <button v-on:click="clearSiteForm" type="button" class="btn btn-link" data-dismiss="modal" ref="closemodal">Close</button>
          <button v-on:click="addSite" v-bind:disabled="!siteFormValid" type="button" class="btn bg-primary">Add Site</button>
        </div>
      </div>
    </div>
  </div>
  {% endverbatim %}
</div>
{% endblock %}

{% block vueapp %}
<script>
  list_sites = new Vue({
    el: '#list_sites',
    data: {
      loaded: false,
      records: [],
      search: '',
      currentPage: 1,
      pageSize: 50,
      siteForm:{
          title: '',
          description: '',
          management: false,
      },
    },
    watch: {
      search:function(){
        this.currentPage = 1;
      },
    },
    methods: {
      nextPage:function() {
        if((this.currentPage*this.pageSize) < this.filterRecords.length) this.currentPage++;
        return false;
      },
      prevPage:function() {
        if(this.currentPage > 1) this.currentPage--;
        return false;
      },
      deleteSite:function(site){
        axios.delete(
          site.url,
          {
            headers: {
              'Content-Type': 'application/json',
              'X-CSRFTOKEN': '{{csrf_token}}'
            }
          }
        ).then(function(response){
            this.records.splice(this.records.indexOf(site), 1);
        }.bind(this))
      },
      clearSiteForm: function(){
        this.siteForm.title='';
        this.siteForm.description='';
        this.siteForm.management=false;
      },
      addSite: function(){
        data = JSON.stringify(this.siteForm)
        axios.post(
          'http://websites-dev.slcschools.org/api/v1/sites/',
          data,
          {
            headers: {
              'Content-Type': 'application/json',
              'X-CSRFTOKEN': '{{csrf_token}}'
            },
          }
        ).then(
          function(response){
            list_sites.records.push(response.data);
            this.$refs.closemodal.click();
          }.bind(this)
        )
      }
    },
    mounted: function(){
      window.openPageLoad();
      axios
        .get('{% url "slcsd_cms:api:site-list" %}' + '?format=json')
        .then(
          function(response){
            this.records = response.data;
            closePageLoad();
            this.loaded = true;
          }.bind(this)
        );
    },
    computed: {
      filterRecords: function(){
        return this.records.filter(
          function(record){
            return [record.title, record.description].join(' ').toLowerCase().indexOf(this.search.toLowerCase()) > -1
          }.bind(this)
        )
      },
      numberOfRecords: function(){
        return this.filterRecords.length
      },
      pagedRecords: function(){
        return this.filterRecords.slice((this.currentPage * this.pageSize) - (this.pageSize), (this.currentPage * this.pageSize))
      },
      recordRangeMin: function(){
        return (this.currentPage * this.pageSize) - (this.pageSize - 1)
      },
      recordRangeMax: function(){
        return Math.min(this.numberOfRecords, (this.currentPage * this.pageSize))
      },
      siteFormValid: function(){
        if( ! this.siteForm.title ){
          return false;
        }
        if( ! this.siteForm.description ){
          return false;
        }
        return true;
      },
    }
  })
</script>
{% endblock %}

{% block modals %}

{% endblock %}