{% extends "slcsd_cms/base.html" %}

{% block page_title %}Employees{% endblock %}

{% block h1 %}<i class="icon-user"></i> Employees{% endblock %}

{% block content %}
<div id="app" class="card">
  {% verbatim %}
  <div class="card-body">
    <div class="alert alert-info alert-styled-left">
      <span class="font-weight-semibold">Note:</span> Employee accounts are created and maintained automatically. Adding, deleting, and changing basic information is not possible. You can enter detailed information by editing the user profile.
    </div>
    <div v-if="loaded && total_records > 0" class="mb-3">
      <div class="input-group mb-3">
        <div class="form-group-feedback form-group-feedback-left">
          <input type="text" v-model="search" class="form-control form-control-lg alpha-grey" placeholder="Search Employees">
          <div class="form-control-feedback form-control-feedback-lg">
            <i class="icon-search4 text-muted"></i>
          </div>
        </div>
      </div>
      <div class="table-responsive mb-3">
        <table class="table table-striped mb-3">
          <thead class="bg-slate-300">
            <tr>
              <th style="width: 1px;"></th>
              <th>Username</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Join</th>
              <th style="width: 1px;" class="text-center">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="record in records" v-bind:data-user-pk="record.pk">
              <td style="width: 1px;"><i class="icon-user"></i></td>
              <td>{{ record.username }}</td>
              <td>{{ record.first_name }}</td>
              <td>{{ record.last_name }}</td>
              <td>{{ record.date_joined }}</td>
              <td class="pl-0 pr-0 text-center">
                <button type="button" class="btn btn-link btn-icon" data-toggle="dropdown"><i class="icon-more"></i></button>
                <div class="dropdown-menu dropdown-menu-right">
                  <button disabled class="dropdown-item">No Actions</button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="d-flex mb-3">
        <div class="mt-auto ml-auto mr-3">Results: {{ first_record }}-{{ last_record }} of {{ total_records }}</div>
        <ul v-if="total_records > page_size" class="pagination align-self-center">
          <li class="page-item"><button v-on:click="prevPage" class="page-link" v-bind:disabled="!prev_page">Prev</button></li>
          <li class="page-item"><button v-on:click="nextPage" class="page-link" v-bind:disabled="!next_page">Next</button></li>
        </ul>
      </div>
    </div>
    <div v-else-if="loaded" class="alert alert-warning alert-styled-left">
      <span class="font-weight-semibold">Oops:</span> There are not currently any employee accounts created.
    </div>
      
  </div>
  {% endverbatim %}
</div>
{% endblock %}

{% block vueapp %}
<script>
  app = new Vue({
    el: '#app',
    data: {
      loaded: false,
      total_records: 0,
      number_pages: null,
      first_record: 0,
      last_record: 0,
      records: [],
      search: '',
      page: 1,
      page_size: 10,
      next_page: null,
      prev_page: null,
    },
    watch: {
      search: _.debounce(function(){
        if( this.page === 1 ){
            this.fetchRecords();
        }  else {
            this.page = 1
        }
      }, 500),
      page: function(){
          this.fetchRecords();
      }
    },
    methods: {
      nextPage:function() {
        if( this.next_page ) {
            this.page = this.next_page;
        }
      },
      prevPage:function() {
          if( this.prev_page ) {
            this.page = this.prev_page;
        }
      },
      fetchRecords:function(){
        // window.openPageLoad();
        url = 'http://websites-dev.slcschools.org/api/v1/users/?format=json&type=EMP&page=' + this.page;
        if(this.search){
            url = url + '&search=' + this.search;
        }
        console.log(url)
        axios
          .get(url)
          .then(
            function(response){
              this.records = response.data.results;
              this.total_records = response.data.total_records;
              this.number_pages = response.data.number_pages;
              this.first_record = response.data.first_record;
              this.last_record = response.data.last_record;
              this.next_page = response.data.next_page;
              this.prev_page = response.data.prev_page;
              // closePageLoad();
              this.loaded = true;
            }.bind(this)
          );
      }
    },
    mounted: function(){
      this.fetchRecords();
    },
    computed: {
    }
  })
</script>
{% endblock %}
