{% extends "slcsd_cms/base.html" %}

{% block page_title %}Service Accounts{% endblock %}

{% block h1 %}Service Accounts{% endblock %}

{% block content %}
<div id="app" class="card">
  {% verbatim %}
  <div class="card-body">
    <div class="alert alert-info alert-styled-left">
      <span class="font-weight-semibold">Note:</span> At this time the webmaster account is the only service account. Managing service accounts is not possible at this time.
    </div>
    <div v-if="loaded && records.length > 0" class="mb-3">
      <div class="input-group mb-3">
        <div class="form-group-feedback form-group-feedback-left">
          <input type="text" v-model="search" class="form-control form-control-lg alpha-grey" placeholder="Search Service Accounts">
          <div class="form-control-feedback form-control-feedback-lg">
            <i class="icon-search4 text-muted"></i>
          </div>
        </div>
      </div>
      <div class="table-responsive mb-3">
        <table class="table table-striped mb-3">
          <thead class="bg-slate-300">
            <tr>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Email</th>
              <th>Join</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="record in pagedRecords" v-bind:data-user-pk="record.pk">
              <td>{{ record.first_name }}</td>
              <td>{{ record.last_name }}</td>
              <td>{{ record.email }}</td>
              <td>{{ record.date_joined }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="d-flex mb-3">
        <div class="mt-auto ml-auto mr-3">Results: {{ recordRangeMin }}-{{ recordRangeMax }} of {{ numberOfRecords }}</div>
        <ul v-if="numberOfRecords > 50" class="pagination align-self-center">
          <li class="page-item"><button v-on:click="prevPage" class="page-link">Prev</button></li>
          <li class="page-item"><button v-on:click="nextPage" class="page-link">Next</button></li>
        </ul>
      </div>
    </div>
    <div v-else-if="loaded" class="alert alert-warning alert-styled-left">
      <span class="font-weight-semibold">Oops:</span> There are not currently any service accounts created.
    </div>
  </div>
  {% endverbatim %}
</div>
{% endblock %}

{% block vueapp %}
<script>
  app = new Vue({
    el: '#app',
    data: {
      loaded: false,
      records: [],
      search: '',
      currentPage: 1,
      pageSize: 50,
    },
    watch: {
      search: function(){
        this.currentPage = 1
      }
    },
    methods: {
      nextPage:function() {
        if((this.currentPage*this.pageSize) < this.filterRecords.length) this.currentPage++;
        return false;
      },
      prevPage:function() {
        if(this.currentPage > 1) this.currentPage--;
        return false;
      }
    },
    mounted: function(){
      window.openPageLoad();
      axios
        .get('http://websites-dev.slcschools.org/api/v1/users/?format=json&type=SVC')
        .then(
          function(response){
            this.records = response.data;
            closePageLoad();
            this.loaded = true;
          }.bind(this)
        );
    },
    computed: {
      filterRecords: function(){
        return this.records.filter(
          function(record){
            return [record.first_name, record.last_name, record.email].join(' ').toLowerCase().indexOf(this.search.toLowerCase()) > -1
          }.bind(this)
        )
      },
      numberOfRecords: function(){
        return this.filterRecords.length
      },
      pagedRecords: function(){
        return this.filterRecords.slice((this.currentPage * this.pageSize) - (this.pageSize), (this.currentPage * this.pageSize))
      },
      recordRangeMin: function(){
        return (this.currentPage * this.pageSize) - (this.pageSize - 1)
      },
      recordRangeMax: function(){
        return Math.min(this.numberOfRecords, (this.currentPage * this.pageSize))
      },
    }
  })
</script>
{% endblock %}