{% extends "slcsd_cms/base.html" %}

{% block page_title %}Guests{% endblock %}

{% block h1 %}Guests{% endblock %}

{% block content %}
<div id="list_users" class="card">
  {% verbatim %}
  <section class="card-body">
    <div v-if="loaded && records.length > 0" class="mb-3">
      <div class="input-group mb-3">
        <div class="form-group-feedback form-group-feedback-left">
          <input type="text" v-model="search" class="form-control form-control-lg alpha-grey" placeholder="Search Guests">
          <div class="form-control-feedback form-control-feedback-lg">
            <i class="icon-search4 text-muted"></i>
          </div>
        </div>
      </div>
      <div class="table-actions mb-1">
        <button href="#" data-toggle="modal" data-target="#add_guest" class="btn btn-light"><i class="icon-plus22 mr-2"> </i>Add Guest User</button>
      </div>
      <div class="table-responsive mb-3">
        <table class="table table-striped mb-3">
          <thead class="bg-slate-300">
            <tr>
              <th style="width: 1px;"><span class="sr-only">Select</span></th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Email</th>
              <th>Join</th>
              <th style="width: 1px;" class="text-center">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="record in pagedRecords" v-bind:data-user-pk="record.pk">
              <td class="pr-0">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" v-bind:id="record.pk + '_select'">
                  <label class="custom-control-label" v-bind:for="record.pk + '_select'">&nbsp;<span class="sr-only">Select {{record.email}}</span></label>
                </div>
              </td>
              <td>{{ record.first_name }}</td>
              <td>{{ record.last_name }}</td>
              <td>{{ record.email }}</td>
              <td>{{ record.date_joined }}</td>
              <td class="pl-0 pr-0 text-center">
                <button type="button" class="btn btn-link btn-icon" data-toggle="dropdown"><i class="icon-more"></i></button>
                <div class="dropdown-menu dropdown-menu-right">
                  <button v-on:click="deleteUser(record)" class="dropdown-item"><i class="icon-trash"></i> Delete</button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="d-flex mb-3">
        <div class="mt-auto ml-auto mr-3">Results: {{ recordRangeMin }}-{{ recordRangeMax }} of {{ numberOfRecords }}</div>
        <ul v-if="numberOfRecords > 50" class="pagination align-self-center">
          <li class="page-item"><button v-on:click="prevPage" class="page-link">Prev</button></li>
          <li class="page-item"><button v-on:click="nextPage" class="page-link">Next</button></li>
        </ul>
      </div>
    </div>
    <div v-else-if="loaded" class="alert alert-warning alert-styled-left">
      <span class="font-weight-semibold">Oops:</span> There are not currently any guest accounts created. Click here to <a href="#" class="alert-link text-primary" data-toggle="modal" data-target="#add_guest">Add a Guest User</a>
    </div>
  </section>
  {% endverbatim %}
</div>
{% endblock %}

{% block vueapp %}
<script>
  list_users = new Vue({
    el: '#list_users',
    data: {
      loaded: false,
      records: [],
      search: '',
      currentPage: 1,
      pageSize: 50,
    },
    watch: {
      search: function(){
        this.currentPage = 1
      }
    },
    methods: {
      nextPage:function() {
        if((this.currentPage*this.pageSize) < this.filterRecords.length) this.currentPage++;
        return false;
      },
      prevPage:function() {
        if(this.currentPage > 1) this.currentPage--;
        return false;
      },
      deleteUser: function(user){
        axios.delete(
          user.url,
          {
            headers: {
              'Content-Type': 'application/json',
              'X-CSRFTOKEN': '{{csrf_token}}'
            }
          }
        ).then(function(response) {
            this.records.splice(this.records.indexOf(user), 1)
        })
      }
    },
    mounted: function(){
      window.openPageLoad();
      axios
        .get('http://websites-dev.slcschools.org/api/v1/users/?format=json&type=GST')
        .then(
          function(response){
            this.records = response.data;
            closePageLoad();
            this.loaded = true;
          }.bind(this)
        );
    },
    computed: {
      filterRecords: function(){
        return this.records.filter(
          function(record){
            return [record.first_name, record.last_name, record.email].join(' ').toLowerCase().indexOf(this.search.toLowerCase()) > -1
          }.bind(this)
        )
      },
      numberOfRecords: function(){
        return this.filterRecords.length
      },
      pagedRecords: function(){
        return this.filterRecords.slice((this.currentPage * this.pageSize) - (this.pageSize), (this.currentPage * this.pageSize))
      },
      recordRangeMin: function(){
        return (this.currentPage * this.pageSize) - (this.pageSize - 1)
      },
      recordRangeMax: function(){
        return Math.min(this.numberOfRecords, (this.currentPage * this.pageSize))
      },
    }
  })
</script>
<script>
  add_user = new Vue({
    el: '#add_guest',
    data: {
      user_fields:{
        username: '',
        email: '',
        first_name: '',
        last_name: '',
        is_staff: false,
        is_active: true,
        user_type: 'GST',
      }
    },
    watch: {
      'user_fields.email': function(){
        this.user_fields.username = this.user_fields.email
      }
    },
    methods:{
      clearForm: function(){
        this.user_fields.username='';
        this.user_fields.email='';
        this.user_fields.first_name='';
        this.user_fields.last_name='';
        this.user_fields.is_staff=false;
        this.user_fields.is_active=true;
        this.user_fields.user_type='GST';
      },
      addUser: function(){
        data = JSON.stringify(this.user_fields)
        axios.post(
          'http://websites-dev.slcschools.org/api/v1/users/',
          data,
          {
            headers: {
              'Content-Type': 'application/json',
              'X-CSRFTOKEN': '{{csrf_token}}'
            },
          }
        ).then(
          function(response){
            list_users.records.push(response.data);
            this.$refs.closemodal.click();
          }.bind(this)
        )
      }
    },
    computed: {
      isValid: function(){
        if( ! this.user_fields.username ){
          return false
        }
        if( ! this.user_fields.email ){
          return false
        }
        if( ! this.user_fields.first_name ){
          return false
        }
        if( ! this.user_fields.last_name ){
          return false
        }
        if( ! this.user_fields.user_type == 'GST' ){
          return false
        }
        return true
      }
    },
  })
</script>
{% endblock %}

{% block modals %}
<div id="add_guest" class="modal fade" tabindex="-1" style="display: none;" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-grey">
        <h2 class="modal-title">Add Guest User</h6>
        <button v-on:click="clearForm" type="button" class="close" data-dismiss="modal">×</button>
      </div>

      <div class="modal-body">
        <div class="form-group">
          <label class="">Username</label>
          <input v-model="user_fields.username" type="email" disabled class="form-control">
        </div>
        <div class="form-group">
          <label class="">Email</label>
          <input v-model="user_fields.email" type="email" class="form-control">
        </div>
        <div class="form-group">
          <label class="">First Name</label>
          <input v-model="user_fields.first_name" type="text" class="form-control">
        </div>
        <div class="form-group">
          <label class="">Last Name</label>
          <input v-model="user_fields.last_name" type="text" class="form-control">
        </div>
        <div class="form-group d-none">
          <label class="">User Type</label>
          <input v-model="user_fields.user_type" type="hidden" class="form-control" value='GST'>
        </div>
      </div>

      <div class="modal-footer">
        <button v-on:click="clearForm" type="button" class="btn btn-link" data-dismiss="modal" ref="closemodal">Close</button>
        <button v-on:click="addUser" v-bind:disabled="!isValid" type="button" class="btn bg-primary">Add User</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}